<% content_for :sub_title do %>
  Пользователи
<% end %>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>№</th>
        <th>Логин</th>
        <th>ФИО</th>
        <th>Компания</th>
        <th>Роль</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user, i| %>
        <tr>
          <th class="number"><%= i + 1 %></th>
          <td><%= user.email %></td>
          <td><%= user.full_name %></td>
          <td><%= user.company %></td>
          <td><%= user.admin? ? 'Администратор' : 'Пользователь' %></td>
          <td><%= button_to "", edit_users_menu_path(user), method: :get, class: "action_btn edit_action" %></td>
          <td>
            <% if current_user.id != user.id %>
              <%= button_to "", users_menu_path(user), method: :delete, class: "action_btn remove_action",
                data: {turbo_method: :delete, turbo_confirm: 'Действительно удалить пользователя?'} %></td>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
