<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Поле</th>
        <th>Первоначальное значение</th>
        <th>Последняя актуализация</th>
      </tr>
    </thead>
    <tbody>
      <% Document.all_fields.each do |field| %>
        <tr>
          <td><%= t "model.document.#{field}" %></td>
          <% if Document.texts.include?(field) %>
            <td><pre style="font-family: inherit; max-width: 600px;"><%= @document.original.try(:send, field) %></pre></td>
            <td><pre style="font-family: inherit; max-width: 600px;"><%= @document.shift.try(:send, field) %></pre></td>    
          <% elsif Document.enums.include?(field) %>
            <td><p class='table_item'>
              <% if @document.original && @document.original.try(:send, field) %>
                <%= t "model.document.#{field}_values.#{@document.original.send(field)}" %>
              <% end %>
            </p></td>
            <td><p class='table_item'>
              <% if @document.shift && @document.shift.try(:send, field) %>
                <%= t "model.document.#{field}_values.#{@document.shift.send(field)}" %>
              <% end %>
            </p></td>
          <% elsif field == 'reference' %>
            <td>
              <% @document.original&.inactive_refs&.each do |ref| %>
                <p class='table_item'><%= ref %></p>
              <% end %>
              <% @document.original&.refs&.each do |active_ref| %>
                <p class='table_item'>
                  <%= link_to active_ref[:name], active_ref[:path] %>
                </p>
              <% end %>
            </td>
            <td>
              <% @document.shift&.inactive_refs&.each do |ref| %>
                <p class='table_item'><%= ref %></p>
              <% end %>
              <% @document.shift&.refs&.each do |active_ref| %>
                <p class='table_item'>
                  <%= link_to active_ref[:name], active_ref[:path] %>
                </p>
              <% end %>
            </td>
          <% else %>
            <td><p class='table_item'><%= @document.original.try(:send, field) %></p></td>
            <td><p class='table_item'><%= @document.shift.try(:send, field) %></p></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
