<tr>
  <th><%= 1 %></th>
  <td><%= document.name %></td>
  <td>код окс</td>
  <td><%= document.desc %></td>
</tr>



<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Поле</th>
        <th>Первоначальное значений</th>
        <th>Последняя актуализация</th>
      </tr>
    </thead>
    <tbody>
      <% @documents.each_with_index do |document, i| %>
        <tr>
          <th><%= i + 1 %></th>
          <td><%= document.name %></td>
          <td>код окс</td>
          <td><%= document.desc %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
