<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>№</th>
        <th>Обозначение</th>
        <th>Код ОКС</th>
        <th>Наименование</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% documents.each_with_index do |document, i| %>
        <tr>
          <th class="number"><%= i + 1 %></th>
          <td><%= document.original.try(:designation) %></td>
          <td><%= document.original.try(:oks_code) %></td>
          <td><%= document.original.try(:denomination) %></td>
          <td><%= button_to "", document, method: :get, class: "action_btn show_action" %></td>
          <td><%= button_to "", edit_document_path(document), method: :get, class: "action_btn edit_action" %></td>
           <!--button_to "", raw_edit_document_path(document), method: :get, class: "action_btn raw_edit_action"-->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
