<p style="color: green"><%= notice %></p>

<% content_for :sub_title do %>
  Документы
<% end %>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>№</th>
        <th>Обозначение</th>
        <th>Код ОКС</th>
        <th>Наименование</th>
      </tr>
    </thead>
    <tbody>
      <% @documents.each_with_index do |document, i| %>
        <tr>
          <th><%= i + 1 %></th>
          <td><%= document.name %></td>
          <td>код окс</td>
          <td><%= document.desc %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

 <%=  controller.class.name %>
 <%=  controller.action_name %>

 
